.tiptap blockquote {
    border-left: 4px solid #ff4c60;
    background-color: #2a2a2a;
    padding: 12px 16px;
    border-radius: 4px;
    margin: 1em 0;
}

.tiptap table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 1em 0;
    margin: 0;
    padding: 4px;
    line-height: 1.4;
}
.tiptap th, .tiptap td {
    border: 1px solid #888;
    margin: 0;
    padding: 4px;
    line-height: 1.4;
    min-width: 40px;
    text-align: left;
}

.tiptap .tableWrapper {
    overflow-x: auto;
    margin: 1em 0;
}
.tiptap table p {
    margin-top: 0;
}
.tiptap .column-resize-handle:hover {
    background: #477bff77;
    cursor: col-resize;
}
